{
  "openapi": "3.0.1",
  "info": {
    "title": "CortexPay API",
    "description": "API to manage CortexPay projects.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cortexpay.com.br/api:gdvuCAXd"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/pix": {
      "get": {
        "description": "Get a PIX QR_CODE.",
        "parameters": [
          {
            "name": "transaction_id",  // Corrigido para incluir o nome do parâmetro
            "in": "query",
            "description": "The ID of the transaction",
            "required": true,  // Adicionado para indicar que o parâmetro é obrigatório
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR Code generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new deposit via PIX",
        "requestBody": {
          "description": "Details of the new PIX deposit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPix"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {  // Alterado de 200 para 201, que é o status code mais adequado para criação
            "description": "PIX deposit created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pix/{id}": {
      "delete": {
        "description": "Deletes a single PIX deposit based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the PIX deposit to delete",
            "required": true,
            "schema": {
              "type": "string"  // Alterado de integer para string para refletir melhor um ID de transação
            }
          }
        ],
        "responses": {
          "204": {
            "description": "PIX deposit deleted successfully",
            "content": {}
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPix": {
        "required": [
          "api_key",
          "transaction_id",
          "currency",
          "name",
          "document_type",
          "document_number",
          "phone_number",
          "email",
          "external_id",
          "amount",
          "phone_prefix",
          "first_deposit"
        ],
        "type": "object",
        "properties": {
          "api_key": {
            "description": "Sua chave de API",
            "type": "string"
          },
          "transaction_id": {
            "description": "ID da transação",
            "type": "string"
          },
          "currency": {
            "description": "Moeda da transação",
            "type": "string"
          },
          "name": {
            "description": "Nome do pagador",
            "type": "string"
          },
          "document_type": {
            "description": "Tipo de documento (CPF/CNPJ)",
            "type": "string"
          },
          "document_number": {
            "description": "Número do documento",
            "type": "string"
          },
          "phone_number": {
            "description": "Número de telefone",
            "type": "string"
          },
          "email": {
            "description": "Email do pagador",
            "type": "string"
          },
          "external_id": {
            "description": "ID externo para referência",
            "type": "string"
          },
          "amount": {
            "description": "Valor da transação",
            "type": "number",
            "format": "float"
          },
          "phone_prefix": {
            "description": "Prefixo do telefone",
            "type": "string"
          },
          "first_deposit": {
            "description": "Indica se é o primeiro depósito",
            "type": "boolean"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
